<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
<add key="nuget.azure.cn" value="https://nuget.azure.cn/v3/index.json" protocolVersion="3" />

  </packageSources>
  <config>
    <add key="maxHttpRequestsPerSource" value="2" />
    <add key="signatureValidationMode" value="accept" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
