global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'go-nomads'
    env: 'development'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Gateway
  - job_name: 'gateway'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:5000']
        labels:
          service: 'gateway'

  # User Service
  - job_name: 'user-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:5001']
        labels:
          service: 'user-service'

  # City Service
  - job_name: 'city-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8002']
        labels:
          service: 'city-service'

  # Accommodation Service
  - job_name: 'accommodation-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8003']
        labels:
          service: 'accommodation-service'

  # Coworking Service
  - job_name: 'coworking-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8004']
        labels:
          service: 'coworking-service'

  # Event Service
  - job_name: 'event-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8005']
        labels:
          service: 'event-service'

  # AI Service
  - job_name: 'ai-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8006']
        labels:
          service: 'ai-service'

  # Message Service
  - job_name: 'message-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8007']
        labels:
          service: 'message-service'

  # Search Service
  - job_name: 'search-service'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:8008']
        labels:
          service: 'search-service'

  # Jaeger
  - job_name: 'jaeger'
    static_configs:
      - targets: ['go-nomads-jaeger:14269']
        labels:
          service: 'jaeger'
