global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  # Consul service discovery - auto discover all registered services
  - job_name: 'consul-services'
    metrics_path: /metrics
    consul_sd_configs:
      - server: 'go-nomads-consul:8500'
        # Auto discover all services without specifying names
    relabel_configs:
      # Only scrape services with metrics_path metadata
      - source_labels: [__meta_consul_service_metadata_metrics_path]
        action: keep
        regex: /.+
      
      # Use custom metrics path if provided
      - source_labels: [__meta_consul_service_metadata_metrics_path]
        target_label: __metrics_path__
        regex: (.+)
        replacement: $1
      
      # Service name label
      - source_labels: [__meta_consul_service]
        target_label: service
      
      # Version label
      - source_labels: [__meta_consul_service_metadata_version]
        target_label: version
      
      # Protocol label
      - source_labels: [__meta_consul_service_metadata_protocol]
        target_label: protocol
      
      # Instance label
      - source_labels: [__address__]
        target_label: instance