apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://go-nomads-prometheus:9090
    isDefault: true
    editable: false

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://go-nomads-jaeger:16686
    editable: false
    jsonData:
      tracesToLogsV2:
        datasourceUid: ''
      tracesToMetrics:
        datasourceUid: Prometheus
        tags:
          - key: service.name
            value: service